{
	servers {
		timeouts {
			read_body 2m
			read_header 10s
			write 2m
			idle 2m
		}
		max_header_size 32KB
		strict_sni_host on
	}
}

{$APP_DOMAIN} {
	encode zstd gzip
	reverse_proxy gateway:8080
}
